/* Mobile 500px */

@media screen and (max-width: 600px) {
  .res-hide {
    display: block;
  }
  .nav-continar {
    margin: 10px 15px;
    padding-bottom: 10px;
  }
  ul li {
    display: none;
  }
  .fa-solid {
    margin-right: 20px;
  }
  .nav-title,
  .inp,
  .nav-container-title {
    font-size: 1.25rem;
  }
  .nav-container-title {
    padding-top: 40px;
    padding-bottom: 4px;
  }
  .nav-containeer-content {
    font-size: 14px;
    padding: 10px 50px;
    margin-bottom: 48px;
  }
  .nav-continar input,
  .btn-primary {
    display: block;
    margin: 15px auto;
    width: 100%;
    padding: 10px 30px;
  }
  .trans-baground {
    padding: 20px 20px;
  }
  .popular-tours-container {
    flex-direction: column;
    margin: 10px 10px;
  }
  .popular-tour-content {
    margin: 13px 10px;
  }
  .popular-tours-img img {
    width: 100%;
    margin-top: 20px;
  }
  .popular-tours-content > li {
    margin: 15px 10px;
  }
  .popular-tours-title {
    font-size: 2rem;
  }

  li > p {
    margin: 5px 20px;
  }
  .choose-title {
    font-size: 1.75rem;
  }
  .choose-content {
    margin-bottom: 20px;
    padding: 10px;
  }
  .choose-tour-grid {
    padding: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
  .choose-tour-grid img {
    width: 100%;
    height: 100%;
  }
  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .item2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .item3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .item4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .item5 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  .item6 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }
  .item7 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
  }
  .select {
    flex-direction: column;
  }
  select {
    width: 100%;
  }
  .servise-title {
    font-size: 1.5rem;
  }
  .servise-content {
    padding: 6px;
  }
  .serrvise-section {
    flex-direction: column;
    margin: 12px;
  }
  .center {
    margin: 12px;
  }
  .discount-bg {
    padding: 250px 0px;
    margin: 10px;
  }
  .dicount-header {
    margin: 20px auto;
    padding: 10px 30px;
    bottom: 5px;
    right: 15px;
    left: 15px;
  }
  .discount-time-flex,
  .discount-title {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .btn {
    margin: 1px 1px;
    width: 50%;
  }
  .video video {
    width: 90%;
    margin: 5px 20px;
    height: 100%;
  }
  .newsletter {
    flex-direction: column;
    gap: 10px;
  }
  .newsletter-input-section {
    padding: 20px 0px;
    margin: 10px;
  }
  .img-newsletter img {
    width: 100%;
    margin: 2px auto;
    padding: 10px;
  }
  .offer {
    width: 50%;
    padding: 7px;
    right: 25px;
    bottom: 60px;
  }
  .offer h2 {
    font-size: 1rem;
  }

  footer {
    margin: 40px auto;
  }
  .footer-content {
    padding: 10px 20px;
  }
  .fa-brands {
    font-size: 1rem;
    margin: 12px 8px;
  }
  .video-text h3 {
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
  }
}
